.gallery {
  padding: 0 0 100px;
}

.gallery__title-block {
  @include title-block;
}

.gallery__title {
  @include title;
}

.gallery__sub-title {
  margin: 0;
  color: #7a7a7a;
}

.gallery__list {
  @include list-unstyled;

  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  position: relative;
  width: 25%;
  overflow: hidden;

  &--link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-yellow;

    a {
      padding: 5px 25px 5px 0;
      color: #ffffff;
      font-weight: 400;
      background: url("../img/icon-right-arrow.svg") no-repeat right center;
      background-size: 15px auto;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  img {
    width: 100%;
    display: block;
    transition: all 0.3s;
  }

  &:not(&--link)::before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5) url("../img/icon-zoom-in.svg") no-repeat center center;
    background-size: 30px auto;
    transition: all 0.3s;
    cursor: pointer;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.gallery__photo-title {
  display: none;
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;

  h3 {
    font-size: $font-sm;
    line-height: 1;
    font-weight: 400;
    margin: 0;
  }

  span {
    font-size: 10px;
    text-transform: uppercase;
  }
}
