/* Цвета */
$color-default: #254352;
$color-yellow: #ebcd49;

$gradient-header: linear-gradient(90deg, rgb(215, 215, 215) 0%, rgb(255, 255, 255) 100%);

/* Шрифты */
$font-xs: 14px;
$font-sm: 17px;
$font-md: 40px;

/* Размеры вьюпорта */
$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
